<div style="width: 100% !important; min-width: 480px; color: #61B329; font-size: 50px; font-family: Tahoma; text-align: center;">Upgrader Error</div>
<div style="width: 100% !important; min-width: 480px; color: #61B329; font-size: 30px; font-family: Tahoma; text-align: center;">EternityX had some trouble Upgrading.</div><br><br>
<div style="text-align: center;">
    <div style="min-width: 480px; text-align: left; width: 50%; font-family: Tahoma; line-height:30px;">Your installation of EternityX just attempted to upgrade itself and encountered an error.  We've sent our Studios a message about what happened, and hopefully we'll get it fixed ASAP.  Sorry for inconveniences, and please bear with us in this troublesome process.  If the issue is deemed large, we may be contacting you for further inspection of the program.  <br><br>Thanks, and Live the Eternity!<br> - Eternity Incurakai Studios<br>EternityX Development Team<br><a href="mailto:support@eternityincurakai.com">support@eternityincurakai.com</a></div>
</div>