@import url(http://fonts.googleapis.com/css?family=Revalia);
@import url(http://fonts.googleapis.com/css?family=Alef);

html, body, h1, p {
	margin: 0;
	padding: 0;
	
}
* {
	outline: none;
	font-family: 'Alef';
	border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Revalia';
}

header {
	background: #61B329;
	margin: 0;
	width: 100%;
}

form {
	padding: 2%;
}
 
.field {
	width: 100%;
	margin-bottom: 15px;
}

.field label {
	display: inline-block;
	width: 20%;
	text-align: right;
	padding-right: 3%;
}

.field input, .field select, .field textarea {
	width: 50%;
	padding: 5px;
	border: 1px solid #999;
	transition: box-shadow .5s, border .5s;
	box-shadow: 0 0 5px transparent;
}

.field input:focus, .field select:focus, .field textarea:focus {
	box-shadow: 0 0 5px #61B329;
	border: 1px solid #61B329;
}

textarea {
	height: 50px;
	vertical-align: top;
	resize: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 2px;
}

nav ul li {
	display: inline-block;
	margin: 0;
	background: #CCC;
	color: white;
	cursor: pointer;
	padding: 15px;
	height: 50px;
	width: calc(20% - 26px);
	line-height: 50px;
	text-align: center;
	margin-right: -10px;
	position: relative;
}

[data-valid="no"] {
	box-shadow: 0 0 5px red !important;
}
nav ul li.active {
	background: green;
	
}
fieldset {
	position: relative;
	padding-bottom: 50px;
}
fieldset > button {
	background: green;
	color: white;
	text-align: center;
	width: 200px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0;
	cursor: pointer;
}
nav ul li:not(:last-child).active:after {
	content: ' ';
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 20px solid green;
	position: absolute;
	right: -14px;
	z-index: 1232132;
	top: 0;
}
label + div {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}
label.img {
	width: 40%;
}
img {
	height: 100px;
	width: 300px;
	margin-right: 3%;
	vertical-align: middle;
	text-align: center;
	line-height: 100px;
}

label[for="favicon"] img {
	width: 100px;
}
