@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Alef);
@import url(https://fonts.googleapis.com/css?family=Prosto+One);


/**
 * 	Table of Contents
 *  1. Basic UI Elements
 *  	1.1 Header
 * 			1.1.1 Branding
 * 			1.1.2 Navigation
 * 			1.1.3 User Controls (login, signup)
 * 			1.1.4 Notifications
 * 			1.1.5 Maintenance Mode Version
 * 		1.2 Footer 
 * 			1.2.1 Branding/Copyright
 * 			1.2.2 Navigation
 * 			1.2.3 Maintenance Mode Version
 * 
 * 		1.3 Http Errors 
 * 			
 * 
 * 	2. Widgets
 * 		2.1 Buttons
 * 		2.2 Overlays
 * 		2.3 Construction
 * 			2.3.1 Maintenance
 * 			2.3.2 Banned
 * 		2.4 CAPTCHAS
 * 		2.5 Boxes
 * 			2.5.1 News
 * 			2.5.2 Heads
 * 		2.6 Breadcrumbs
 * 
 *  3. Fixes
 * 		3.1 Containers (html, body, etc.)
 * 		3.2 Scrollbars
 * 		3.3 Misc
 * 		3.4 Alignment
 * 		3.5 Animations
 * 		3.6 Forms
 * 		3.7 Links
 */


/** ===========================================================
 * 	1. UI Elements
 ============================================================== */

/** =======================
 * 	1.1 Header
 ========================= */

header {
	background: #61B329;
	position: fixed;
	top: 0;
	left: 0;	
	right: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #666;
	z-index: 12345;
}

/** =======================
 * 	1.1.1 Branding
 ========================= */

header .brand {
	float: left;
	vertical-align: middle;
}

header .brand a {
	display: block;
	color: white;
	text-decoration: none;
	font-family: Ujack;
	line-height: 50px;
	height: 50px;
	font-size: 28px;
	vertical-align: middle;
}

header .brand a:hover { color: #00FF00; }

header .brand a img {
	height: 50px;
	width: 300px;
}

/** =======================
 * 	1.1.2 Navigation
 ========================= */

header nav {
	float: right;
	height: 50px;
	margin: 0;
}

header nav ul.nav {
	list-style-type: none;
	list-style-image: none;
	list-style-position:inside; 
	height: 50px;
	margin: 0;
	padding: 0;
}

header nav ul.nav li {
	display: block;
	float: left;
	position: relative;
	height: 50px;
}

header nav ul.nav li a:not(.forgot) {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: white;
	padding: 0 10px 0 10px;
	margin: 0;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	text-decoration: none;
}

/** Active, Hover, and Clicked Differences **/
header nav ul.nav li a:hover:not(.forgot),
header nav ul.nav li a.open , 
header nav ul.nav li a.active:not(.forgot) { background: #409107; }
header nav ul.nav li a:active:not(.forgot) { box-shadow: inset 5px 5px 5px #000; }

/** Drop Downs **/
header nav ul.nav li ul.dropdown {
	display: none;
	background: #61B329;
	position: absolute;
	z-index: 99999999;
	float: left;
	min-width: 160px;
	border: 1px solid #666;
	border-top: 0;
	padding: 0;
}

header nav ul.nav li ul.dropdown:before {
	position: relative;
	top: -15px;
	border-bottom: 15px solid #61B329;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	content: ' ';
	left: calc(50% - 15px);
	margin-bottom: -15px;
	display: block;
	height: 0;
	width: 0;
}

header nav ul.nav li ul.dropdown li, header nav ul.nav li ul.dropdown li a{
	width: calc(95% - 2px);
	text-align: left !important;
	position: relative;
}

header nav .collapse {
	display: none;
	background: #006600;
	float: right;
	height: 50px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

header nav .collapse:active {
	box-shadow: inset 5px 5px 5px #000;
	background: #00FF00;
}

header nav .collapse span {
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	line-height: 35px;
}

/** =======================
 * 	1.1.3 User Controls (login, signup)
 ========================= */


header #login {
	float: right;
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
}

header #login form .hfield {
	display:inline-block;
	position: relative;
}

header #login form .hfield a {
	display: inline-block;
	position: absolute;
	left: 5px;
	font-size: 10px;
	height: 20px; 
	color: white !important;
	top: -20px;
	opacity: 0;
	transition: opacity 1s;
}

header #login form .hfield input {
	display: inline-block;
	height: 15px;
	padding: 5px;
	margin: 5px;
}

header #login form .hfield a.username { right: 300px; }
header #login form .hfield a.password { right: 125px; }
header #login form .hfield input:focus + a {	opacity: 1; }

header #login form input[type="submit"] {
	height: 50px;
	cursor: pointer;
	display: inline-block;
	padding: 0 10px 0 10px;
	line-height: 50px;
	color: white;
	border: 0;
	margin: 0 0 0 5px;
	font-size: 17px;
	background: none;
	width: 100px;
}

header #login form input[type="submit"]:hover:not([disabled]) {	background: #409107; }
header #login form input[type="submit"]:active:not([disabled]) { box-shadow: inset 5px 5px 5px #000; }

header #login #loginerror {
	background: black;
	height: 50px;
	position: fixed;
	top: 50px;
	width: 20%;
	text-align: center;
	right: 115px;
	line-height: 50px;
	color: white;
	z-index: 999999;
	display: none;
}

header #login #loginerror:before {
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid #000;
	position: fixed;
	right: 145px;
	top: 35px;
	content: ' ';
}

header #login #loginerror a {
	background: none !important;
	padding: 0 !important;
	margin: 0 5px 0 5px !important;
	display: inline !important;
	color: #00a2FF !important;
}

header #login #loginerror .details {
	background: #333;
	position: fixed;
	z-index: 1000000000000;
	top: 0;
	height: 50px;
	line-height: 50px;
	left: 60%;
	width: 40%;
	display: none;
}

header nav ul.nav li.signup {
	vertical-align: top; 
	
}

header nav ul.nav li.signup a {
	width: 70px;
	padding: 0 10px 0 10px;
	line-height: 50px;
	height: 50px;
}

header nav ul.nav li.notify:after {
	content: ' ';
	background: cyan;
	border-radius: 25px;
	height: 10px;
	width: 10px;
	box-shadow: 0 0 5px cyan;
	position: absolute;
	bottom: 5px;
	left: calc(50% - 5px);
	display: block;
}

header #user img {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	vertical-align: middle;
}
header #user i {
	font-size: 11px;
	transition: -webkit-transform 1s;
	transition: -moz-transform 1s;
	transition: transform 1s;
}

header #user.open i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}


/** =======================
 * 	1.1.4 Notifications
 ========================= */

.saved {
	background: yellow;
	font-size: 36px;
	font-family: alef;
	text-transform: uppercase;
	letter-spacing: 5px;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	display: none;
}

.error {
	background: red;
	font-size: 36px;
	font-family: alef;
	text-transform: uppercase;
	letter-spacing: 5px;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	display: none;
}


.utm a {
	background: #8000D1;
	color: white !important;
	padding: 5px;
	margin: 5px;
}

.utm {
	position: fixed;
	top: 50px;
	background: #A200F3;
	width: 100%;
	text-align: center;
	padding: 5px;
}

.utm .dismiss {
	margin: 0;
	height: 95%;
	float: right;
	margin-right: 15px;
	background: #8000D1;
	border: 0;
	top: -5px;
	position: relative;
	color: white;
	letter-spacing: 2px;
	cursor: pointer;
}

.utm .dismiss:hover {
	background: #A200d3;
}

.utm .dismiss:before {
	font-family: fontAwesome;
	content: '\f062';
	margin-right: 5px;
}

.announcement {
	position: fixed;
	top: 50px; 
	width: 100%;
	left: 0;
	right: 0;
	background: #4465ff;
	color: white; 
	white-space: nowrap;
	overflow: hidden;
	height: 25px;
	padding-top: 0;
	z-index: 12345;
}

.announcement .flap {
	display: inline-block;
	height: 100%;
	width: 15%;
	position: absolute;
	left: 0;
	background: #4465ff;
	z-index: 123456;
	text-align: center;
	padding-top: 5px;
	padding-left: 5px;
	font-family: Ujack;
}
.announcement p { 
	position: fixed;
	display: inline-block;
	-webkit-animation: rightThenLeft 20s linear infinite; 
	-moz-animation: rightThenLeft 20s linear infinite;
	animation: rightThenLeft 20s linear infinite;
	overflow: hidden;
	padding-top: 0;
	margin-top: 0;
}


/** =======================
 * 	1.1.5 Maintenance Mode Version
 ========================= */
html.maintenance header, html.banned header {
	text-align: center;
}

html.maintenance header .brand, html.banned header .brand {
	float: none;
}

html.maintenance header nav, html.banned header nav {
	display: none;
}


/** =======================
 * 	1.2 Footer
 ========================= */

footer {
	background: #2b3034;
	color: white;
	padding: 2.5%;
	height: 175px;
	position:relative;
	box-shadow: inset 0 5px 10px #000;
}

/** =======================
 * 	1.2.1 Copyright/Branding
 ========================= */
footer .logo {
	width: 25%;
	display: inline-block;
	margin: 0 7% 0 2.5%;
}

footer .logo img {
	width: 100%;
}

footer .logo .copyright {
	text-align: center;
	font-size: 10px;
	color: #6f7071;
	display: block;
}

footer .logo .copyright hr {
	width: 100px;
	border-top: 0;
	border-color: #242729;
}


/** =======================
 * 	1.2.2 Navigation
 ========================= */
footer .link-list {
	width: 15%;
	margin: 0 3% 0 3%;
	display: inline-block;	
	vertical-align: top;
}

footer .link-list h3 {
	margin-bottom: 5px;
	font-weight: normal;
	color: #a3aaae;
	border-bottom: 1px solid #242729;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

footer .link-list ul {
	list-style-type: none;
	margin: 0 !important;
	padding: 0;
	padding-left: 10px;
	
}

footer .link-list ul li { margin: 0 !important; }
footer .link-list ul li a { color: #6f7071 !important; }
footer .link-list ul li a:hover { color: #0C0 !important; }
footer #footnav { display: none; }


#adminlinks {
    background: #61b32a;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 199999;
    width: 25%;
    padding: 15px;
}

#adminlinks ul {
	list-style-type: none;
	padding: 0;
}

#adminlinks ul li a {
	color: white !important;
	height: 50px;
	line-height: 50px;
	width: calc(100% + 15px);
	padding-left: 15px;
	transition: background .5s;
	display: block;
}

#adminlinks ul li a:hover {
	background: green;
}

/** =======================
 * 	1.2.3 Maintenance Mode Version
 ========================= */
html.maintenance footer, html.banned footer {
	text-align: center;
}

html.maintenance footer .link-list, html.banned footer .link-list {
	display: none;
}

.httperror {
	background: #61B329;
	color: black;
	font-family: 'Prosto One' !important;
	border-top: 1px solid #61B329;
	padding: 30px;
	text-align: center;
	width: 80%;
	position: relative;
	left: calc(10% - 30px);
	top: -55px;
	min-height: 150px;
	border-radius: 0 0 25px 25px;
}

.httperror h1 {
	font-family: 'Prosto One';
}

/** ===========================================================
 * 	2. Widgets
 ============================================================== */

/** =======================
 * 	2.1 Buttons
 ========================= */

.exw.exw-btn {
	height: 50px;
	width: 250px;
	display: inline-block;
	letter-spacing: 1px;
	line-height: 50px;
	padding: 10px;
	font-size: 20px;
	color: white;
	cursor: pointer;
        text-decoration: none !important;
}

.exw.exw-btn i {
	font-size: 50px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 15px;
	border-right: 1px solid white;
	margin-right: 15px;
}

.exw.exw-btn.exw-green { background: darkgreen; }
.exw.exw-btn.exw-green:hover { background: green; }
.exw.exw-btn.exw-red { background: darkred; }
.exw.exw-btn.exw-red:hover { background: red; }
.exw.exw-btn.exw-blue { background: darkblue; }
.exw.exw-btn.exw-blue:hover { background: blue; }
.exw.exw-btn.exw-purple { background: purple; }
.exw.exw-btn.exw-purple:hover { background: darkorchid; }
.exw.exw-btn:active { box-shadow: inset 5px 5px 5px black; }

/** =======================
 * 	2.2 Overlays
 ========================= */
.exw.exw-overlay {
	position: absolute;
	width: calc(100% - 30px);
	left: 0;
	padding: 15px;
	top: -25px;
	background: rgba(0,0,0,.8);
	height: 100%;
	z-index: 9999;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.exw.exw-overlay.active { -webkit-transform: translateX(0); transform: translateX(0); }

.exw.exw-overlay .exw-content {
	background: white;
	padding: 15px;
	border: 2px solid darkgreen;
}

.exw.exw-overlay .exw-content .exw-head {
	padding: 10px;
	color: white;
	position: relative;
	font-size: 30px;
	width: calc(100% + 10px);
	left: -15px;
	height: 30px;
	line-height: 30px;
	top: -15px;
	margin: 0;
	font-weight: normal;
}

.exw.exw-overlay .exw-content .exw-head i {
	cursor: pointer;
	display: inline-block;
}

.exw.exw-overlay.exw-green .exw-content .exw-head { background: darkgreen; }
.exw.exw-overlay.exw-red .exw-content .exw-head { background: darkred; }
.exw.exw-overlay.exw-blue .exw-content .exw-head { background: darkblue; }
.exw.exw-overlay.exw-purple .exw-content .exw-head { background: purple; }

.exw.exw-overlay .exw-content textarea { border-color: #999; }

.exw.exw-spinner {
    background: #060;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    
    margin: 0 20px 0 20px;
    box-shadow: 0 0 5px #060;
    border: 2px solid #000;
    display: inline-block;
    -webkit-animation: blink 3s infinite;

}

.exw.exw-spinner.close {
    -webkit-animation: blinkclose 1s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes blinkclose {
    0% {
        
    }
    
    30% {
        -webkit-transform: scale(1.2);
    }
    
    100% {
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes blink {
    0% {
        height: 50px;
    }
    
    25% {
        height: 0;
        border-radius: 0;
    }
    
    50% {
        height: 50px;
        border-radius: 50px;
        background: #0F0;
        -webkit-transform: rotate(50deg);
    }
    
    75% {
        height: 0;
        border-radius: 0;
        -webkit-transform: rotate(100deg);
    }
    
    100% {
        height: 50px;
        background: #060;
        border-radius: 50px;
        -webkit-transform: rotate(360deg);
    }
}

/** =======================
 * 	2.3 Construction
 ========================= */
.construction {
	background: #DDD;
	padding: 20px;
	margin: 5px;
	height: 75px;
}

.construction i {
	font-size: 75px;
	z-index: 12321312;
	width: 25%;
	display: inline-block;	
	vertical-align: middle;
	text-align: center;
}

.construction .construction-content {
	width: 70%;
	vertical-align: top;
	display: inline-block;
	height: 75px;
}

.construction .construction-content h1 {
	margin: 0;
}

/** =======================
 * 	2.3.1 Maintenance
 ========================= */
#maintenance-hero {
	background: rgba(0,0,0,.9);
	padding: 15px;
	color: white;
	position: absolute;
	width: 60%;
	top: -15px;
	left: 0;
}

#maintenance-image {
	position: absolute;
	right: 10%;
	top: 0;
	width: 20%;
}

/** =======================
 * 	2.3.2 Banned
 ========================= */
#banned-hero {
	background: rgba(0,0,0,.8);
	color: white;
	padding: 15px;
	position: absolute;
	top: -15px;
	left: 0;
	width: 40%;
}

#banned-contact {
	position: absolute;
	right: 0;
	display: block;
	top: 0;
	width: calc(60% - 45px);
}

#banned-contact h2 { text-align: right; padding-right: 10px; }
#banned-contact h3:last { text-align: center;}

/** =======================
 * 	2.4 CAPTCHAS
 ========================= */
#recaptcha_area {
	width: 100%;
}

#recaptcha_response_field {
	border: 1px solid #ddd !important;
	padding: 5px;
	width: 125% !important;
}
#recaptcha_privacy {
	display: none;
}
#captcha {
	display: inline-block;
	width: 78%;
}

.captcha form input[type="submit"] {
	display: inline-block;
	width: 20%;
	height: 114px;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: top;
	background: #DDD;
	cursor: pointer;
}

.captcha form input[type="submit"]:hover {
	background: #BBB;
}

.captcha form input[type="submit"]:active {
	box-shadow: inset 5px 5px 5px #000;
}
/** =======================
 *  2.5 Boxes
 ========================= */

/** =======================
 * 	2.5.1 News
 ========================= */

.news {
	background: rgba(0,0,0,.95);
	color: white;
	display: inline-block;
	width: 25%;
	padding: 2.5%;
	height: 300px;
	top: 100px;
	position: absolute;
}
.news p {
	height: 75%;
	overflow-y: auto;
}

.news a {
	color: white !important;
	display: block;
	text-align: right;
}

/** =======================
 * 	2.5.2 Heads [Page head]
 ========================= */

.head {
	position: absolute;
	top: 60px;
	width: 90%;
	border-bottom: 1px solid #999;
	margin-bottom: 30px;
}

.head h1 {
	font-family: alef;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
}

.head p {
	font-family: alef;
	letter-spacing: 1px;
	padding-top: 0;
	margin-top: 0;
}

/** =======================
 * 	2.6 Breadcrumbs
 ========================= */
.breadcrumbs {
	margin-bottom: 10px;
}

.breadcrumbs .links {
	float: right;	
}

.breadcrumbs h1, .breadcrumbs p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.breadcrumbs hr {
	width: 80%;
}

/** ===========================================================
 * 	3. Fixes
 ============================================================== */

/** =======================
 * 	3.1 Containers
 ========================= */

html, body {
	font-family: tahoma, verdana;
	margin: 0;
	padding: 50px 0 0 0;
	overflow-x: hidden;
}

body { overflow:hidden; }
body.load, body .load { cursor: progress; }

/** Helps give the illusion of an offcanvas layout **/
#innerwrap, #outerwrap {
	position:relative;
	width: 100%;
	top: 5px;
}
#innerwrap { transition: -webkit-transform 1s; transition: transform 1s; }

#container {
	margin-top: -2.5%;
	padding: 2%;
	min-height: 500px;
}

* {
	outline: none !important;
	font-family: alef;
}

/** =======================
 * 	3.2 Scrollbars
 ========================= */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background-color: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background-color: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

/** =======================
 * 	3.3 Misc
 ========================= */

[disabled] {
	opacity: .69;
	cursor: default !important;
}

.saver {
	text-align: center;
}

.fixer {
	position: relative;
	top: 50px;
	height: 50px;
}

ol {
	counter-reset: item;
}

ol li {	
	margin-bottom: 20px;
}

sup { 
	vertical-align: top; 
	position: relative; 
	top: -0.6em; 
	font-size: .5em; 
}

.countdown {
	display: inline-block;
}

.countdown:contains('0') {
	color: red;
}

.loading {
	width: 50%;
	text-align: center;
	left: 25%;
	top: 25%;
	height: 10%;
	display: block;
	position: fixed;
	font-family: Ujack;
	font-size: 22px;
	background: white;
}

#error {
	background: #FF0000;
	color: #66021a !important;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin: 5px; 
	display: none;
	width: 95%;
}

.mobile {
	display: none;
}

/** =======================
 * 	3.4 Alignment
 ========================= */
/** FLOATS **/
.pull-left { float: left; }
.pull-right { float: right; }
.clearfix { clear: both; display: block; }

/* VERTICALS */
.vtop { vertical-align: top !important; }
.vbottom { vertical-align: bottom !important; }
.vmiddle { vertical-align: middle !important; }

/** Display **/
.hidden { display: none; }
.invisible { visibility: none; }


/** =======================
 * 	3.5 Animations
 ========================= */

@-webkit-keyframes rightThenLeft { 
    0%   {left: 100%;}
	100% {left:-100%;}
}

@-moz-keyframes rightThenLeft {
	0%   {left: 100%;}
	100% {left:-100%;}
}
@keyframes rightThenLeft {
	0%   {left: 100%;}
	100% {left:-100%;}
}

/** =======================
 * 	3.6 Forms
 ========================= */

form {
	display: block;
}

label {
	display: inline-block;
	width: 15%;
	vertical-align: middle;
}
#container input[type="submit"] {
	background: #006600;
	padding: 5px;
	width: 20%;
	margin-right: 40%; 
	margin-left: 40%;
	border: none;
	color: white;
	cursor: pointer;
}

input:not([type="checkbox"]) {
	border-radius: 0 !important;
	-webkit-appearance: none;
	border: 1px solid #AAA;
}

input + label a {
	color: white !important;
}

input + label a:hover {
	color: #0F0 !important;
}

.checkbox input {
	vertical-align: middle;
}
.checkbox input + label {
	width: 90%;
	cursor: pointer;
	vertical-align: middle;
}
 
label + input, label + select, label + textarea {
	width: 80%;
	padding: 5px;
	height: 30px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	resize: none;
	vertical-align: middle;
}

form textarea {
	height: 75px !important;
}


/** =======================
 * 	3.7 Links
 ========================= */

a {
	text-decoration: none;
}

#container a:hover {
	text-decoration: underline; 
}

a:visited {
	color: purple;
}














@media (max-width:480px) {
    #adminlinks {
        left: 200%;
        width: 100%;
        transition: left .5s;
    }
    
    #adminlinks.open {
        left: 0;
    }
    
	.mobile {
		display: block;
	}
	#footnav {
		width: 100%;
		display: block !important;
		margin-top: 15px !important;
	}
	.exw-head {
		left: -7px !important;
		top: -7px !important;
		width: calc(100% - 7px) !important;
	}
	.exw-overlay {
		left: 0 !important;
		-webkit-transform: translateX(200%) !important;
	}
	
	.exw-overlay.active {
		-webkit-transform: translateX(0) !important;
	}
	html, body {
		padding: 0 !important;
	}
	
	#container {
		padding-top: 100px;
	}
	
	/* OFF CANVAS HEADER FIXES */
	header ul.nav { top:0; left:100% !important; }
	body.offcanvas #innerwrap { 
		-webkit-transform: translate3d(-70%,0,0);
		-moz-transform: translate3d(-70%,0,0);
		transform: translate3d(-70%,0,0);
	}
	

	.fixer {
		height: 100px;
	}
	#compose-form {
		width: 100% !important;
		left: 0 !important;
		margin-top: -15px;
	}
	
	footer .copyright {
		width: 100% !important;
	}
	
	footer .link-list {
		display: none !important;
	}
	
	footer {
		padding: 0 !important;
		height: 174px !important;
	}
	
	footer hr, footer br {
		display: none !important;
	}
	.wform label {
		display: block;
		width: 100%;
	}
	
	.wform input:not([type="submit"]) {
		margin-bottom: 15px;
	}
	
	.wform input[type="submit"] {
		width: 100% !important;
		margin: 0 !important;
	}
	.flap {
		display: none !important;
	}
	header .brand a {
		font-size: 18px;
	}
	header .brand a img {
		height: 45px;
		width: 200px;
}
	header nav ul.nav:before {
	    content:''; width:100%; height:15px;
	    position: absolute; top:0; left:0;
	    box-shadow: inset 0px 15px 15px -15px #000; z-index: 9999999; 
	   }
	header {
		box-shadow: 0 0 5px #000;
		z-index: 99999;
	}
	header nav ul.nav {
		display:block;
		clear: both;
		position: fixed;
		float: none !important;
		width: 70%;
		top: 0;
		background: #61B329;
		min-height:570px;
		box-shadow: inset 5px 0 5px #000;
		height: 100%;   
		z-index: 213456;
		padding: 0 0 0 5px !important;
	}
	
	header nav ul.nav li {
		width: 100%;
		position: relative;
	}
	
	header nav ul.nav li form .hfield input {
		width: 90%;
	}
	header nav ul.nav li form .hfield {
		width: 45%;
	}
	
	header nav ul.nav li form input[type="submit"] {
		display:none !important;
	}
	#loginerror {
		z-index: 99999;
		width: 100%;
		left: 0;
	}
	#loginerror .details {
		display: none;
		top: 50px;
		width: 100%;
		left: 0;
	}
	header nav ul.nav li a {
		width: 100%;  
		text-align: left !important;
	}
	
	header nav .collapse {
		display: block; 
	}
	
	.forgot {
		display: block;
		width: 150px !important;
		white-space: nowrap;
	}
	
	.forgot.username {
		right: 0;
	  }
	
	.forgot.password {
		right: -100px;
	}
	header nav ul.nav li ul.dropdown {
		width: 100%;
		position: relative;
		z-index: 12356677;
		border: none;
		left: 20px;
		float: none;
	}

	header nav ul.nav li ul.dropdown li, header nav ul.nav li ul.dropdown li a{
		width: 100%;
		padding-left: 15px;
		text-align: left !important;
		position: relative;
		margin-left: -20px;
	}
	
	
	.logo {
		width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
		left: 0 !important;
		position: static !important;
		
	} 
	
	.logo img{
		width: 100% !important;
	}
	
	.hero {
		top: 205px;
		position: absolute !important;
		height: 400px !important;
	}
	.page-content {
		margin-top: 200px !important;
	}
	
	.loading {
		width: 100% !important;
		left: 0 !important;
	}
	
	footer .link-list h3 {
		font-size: 14pt;
	}
	
	footer .link-list ul li a {
		font-size: 11pt;
	}
}






















/********************************************************************************
 * DEPRECATED STYLES 
 */



.loader {
	background: rgba(215, 215, 215, .8);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1234566;
}

.information {
	position: fixed;
	top: 30%;
	left: 25%;
	text-align: center;
	width: 50%;
}
.userlist {
	background: #CCC;
	padding: 30px;
}

.userlist ul {
	list-style-type: none;
}

.userlist ul li a {
	display: block;
	padding: 10px;
	margin: 10px 0 10px 0;
	color: green;
	text-decoration: none;
}

.userlist ul li a:hover {
	color: #00FF00;
	text-decoration: none;
	background: #AAA;
	cursor: pointer;
}




.friendbox {
	background: #DDD;
	text-align: center;
	padding: 5px;
}

.friendbox:hover {
	background: #EEE;
}

.inprogress {
	background: #000066;
	padding: 10px;
	margin: 10px;
	width: calc(100% - 40px);
	text-align: center;
	color: white;
}













#compose-form {
	width: 50%;
	left: 20%;
	right: 20%;
	top: 20%;
	padding: 2.5%;
	background: white;
	z-index: 13455;
	position: fixed;
}
#compose-container {
	display: none;
}

.overlay {
	display: none;
}

.overlay form, .overlay > .content {
	position: fixed;
	width: 50%;
	left: 25%;
	
	top: 25%;
	z-index: 12345;
	background: white;
}
.overlay > .content {
	background: none;
}

.overlay form { height: 50%; padding: 2.5%; left: 22.5%; }
/* BUTTONS */

#question {
	background: #DADADA;
	position: relative;
	top: 80px;
	z-index: 1234;
	width: 90%;
	margin: 2.5%;
	padding: 2.5%;
	left: 0;
	height: 70%;
	overflow-y: scroll;
}

#question h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#question div.menuitem {
	display: inline-block;
	width: 22.5%;
	padding: 1%;
	background: #EEE;
	color: black;
	border: none;
	position: relative;
	margin: 0 0 0 -5px;
	cursor: default;
}

#question .menuitem:hover {
	background: #999;
}

#question .comments .comment button {
	background: #999;
	border: none;
	border-radius: 0;
	float: right;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
	padding: 5px;
	font-family: alef;
	cursor: pointer;
}

#question .comments .comment:hover button {
	opacity: 1;
}


#question select {
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: alef;
	position: relative;
	margin: 0 0 0 -5px;
	appearance: none;
	background-color: #EEE;
	width: 22.5%;
	padding: 1%;
	color: black;
	border: none;
	font-size: 15px;
	background-image: url(https://pioneers.berkeley.edu/w/images/a/a3/Down_arrow.svg);
}
#question .details {
	padding: 2.5%;
	width: 93%;
	margin: 2.5% 2.5% 2.5% -.5%;
	background: #EEE;
}

#question .comment textarea {
	width: 93%;
	padding: 2.5%;
	margin: 2.5% 2.5% 2.5% -.5%;
	border: 1px solid rgba(0, 0, 0, 0.7);
	resize: none;
}

#question .comments .comment {
	background: #EEE;
	min-height: 60px;
	margin-bottom: 20px;
	word-break: break-all;
}

#question .comments .comment .info {
	background: #999;
	padding: 5px;
	width: 30%;
	float: left;
}

#question .comments .comment .info img {
	height: 50px;
	width: 50px;
	vertical-align: middle;
	float: left;
	margin: 0 5px 0 0;
}

#question .comments .comment .info a {
	vertical-align: top;
	display: inline-block;
	font-weight: bold;
	margin: 0;
	color: white;
}

#question .comments .comment .info .timestamp {
	vertical-align: bottom;
	display: inline-block;
	padding: 0;
	position: absolute;
	margin-top: 10px;
	margin-left:15px;
	height: 15px;
	text-align: right;
	float: right;
}

#question .comments .comment p {
	padding: 5px;
	margin: 0 0 0 35%;
}

.infobox {
	display: block;
	background: #CCC;
	clear: both;
	width: 25%;
}


.infobox > div {
	padding: 5px;
	margin: 5px;
}

.wform {
	width: 80%;
	margin-right: 5%;

}

.wform .whead {
	padding: 2%;
	margin: 1%;
	margin-bottom: 0;
	color: white;
	font-size: 20px;
	border-right: 2px solid purple;
	width: 98%;
}

.wform.wpurple .whead { background: purple; }
.wform.wpurple form input[type="submit"] { background: purple !important; }
.wform.wblue .whead { background: blue; }
.wform.wblue form input[type="submit"] { background: blue !important; }
.wform.wgreen .whead { background: green; }
.wform.wgreen form input[type="submit"] { background: green !important; }
.wform form {
	background: white;
	padding: 2%;
	border: 1px solid #000;
	border-top: none;
	width: 98%;
	margin: 1%;
	margin-top: 0;
}
.tab {
	display: none;
}
.wform {
	margin-left: -2px;
	margin-right: 8px;
}

.wform .wstatus {
	background: #F00;
	text-align: center;
	padding: 10px;
	width: 100%;
	margin: 5px;
	display: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.wstatus:before {
	font-family: FontAwesome;
	content:'\f00d';
	display: inline-block;
	background: #A00;
	border-radius: 50px;
	height: 20px;
	width: 20px;
	padding: 5px;
	text-align: center;
	top: 10px;
	line-height: 20px;
	position: absolute;
	left: 15px;
	
}
.wform .wstatus.active {
	background: #0F0;
}

.wstatus.active:before {
	content:'\f00c';
	background: #0A0;
}
.menu nav ul {
	list-style-type: none;
}

.menu nav ul li {
	display: inline-block;
}


/********************************************************************************************************************
 *  NEWS 
 */

.post {
	background: #DDD;
}

.post .top {
	background: #EEE;
	padding: 0 15px 0 15px;
}

.post .top p {
	text-align: right;
}

.post > p {
	padding: 5px 15px 5px 15px;
}


.wtable .whead {
	padding: 10px;
	font-size: 20px;
	color: white;
}


.wtable.wgreen .whead {
	background: #060;
}

.wtable {
	background: #EEE;
	border: 1px solid #000;
}



.wtable table {
	border-collapse: collapse;
	width: 100%;
}


.wtable table tr td {
	padding: 5px;

}
.wtable table tr {
	width: 100%;
}
.wtable table tr td:nth-child(1) {
	width: 20%;
	text-align: right;
}

.wtable table tr td:nth-child(2) {
	width: 65%;
	text-align: left;
}

.wtable table tr th {
	display: none;
}

.hero a {
	color: #00FF00;
}

.buttons {
width: 30%;
float: left;
margin-top: 50px;
z-index: 50;
}
.btn {
	color: white;
	padding: 5px;
	margin: 5px;
	width: 100%;
	display: inline-block;
	height: 100px;
	cursor: pointer;
	-webkit-transition: -webkit-transform .5s, box-shadow .5s;
	z-index: 50;
}

.btn-small {
	height: 50px;
	text-align: center;
	line-height: 50px;
	width: auto;
}
.buttons .btn:hover {
	-webkit-transform: translateX(-10px);
	z-index: 50;
}

.removedefault {
	background: none !important;
	border: none !important;
	color: inherit !important;
	padding: 0 !important;
	margin: 0 !important;
	height: auto !important;
	width: auto !important;
}

.btn.bgrey { background-color: #808080; }
.btn.bred { background-color: red; }
.btn.bblue { background-color: blue; }
.btn.bgreen { background-color: green; }
.btn.bpurple { background-color: purple; }
.btn.bgrey:hover { background-color: #666666; }
.btn.bred:hover { background-color: #990000; }
.btn.bblue:hover { background-color: #000099; }
.btn.bgreen:hover { background-color: #009900; }
.btn.bpurple:hover { background-color: #2E0854; }

.devinfo {
	background: gray;
	position: fixed;
	padding: 5px;
	margin: 5px;
	bottom: 30px;
	left: 0;
}
.btn .icon {
	width: 15%;
	float: left;
	color: white;
	font-size: 36pt;
	padding: 5px 0 5px 15px;
	margin: 5px;
	line-height: 90px;
	vertical-align: middle;
}

.btn .text {
	float: right;
	width: 70%;
	margin-top: 20px;
	vertical-align: middle;
}

.btn .text .heading {
	font-size: 20pt;
	font-weight: bold;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.btn .text p {
	margin: 0;
	vertical-align: middle;
	padding: 0;
}

.lightbox {
	z-index: 11111;
	position: fixed;
	background: rgba(0,0,0,.8);
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.notification {
	border-radius: 50px;
	padding: 5px;
	text-align: center;
	height: 15px;
	line-height: 15px;
	width: 15px;
	margin: -5px 5px -5px 5px;
	display: inline-block;
	background: red;
	color: white;
	vertical-align: middle;
}

.user-top img {
	position: absolute;
	top: 0;
	left: 0;
	width: 15% !important;
	max-width: none !important;
} 

#avatar_edit {
	position: absolute;
	color: white;
	background: #000;
	width: 15%;
	margin-right: 5%;
	height: 20px;
	bottom: 0;
	text-align: center;
	opacity: 0;
	left: 0;
	transition: opacity 1s;
	padding: 5px 0 5px 0;
	min-width: 100px;
	z-index: 132;
}

.user-top h1 {
	position: absolute;
	left: calc(15% + 20px) !important;
	height: 50px;
}

.user-top .rank {
	position: absolute;
	left: calc(15% + 20px) !important;
	bottom: 0;
	
	
}

@media (max-width:480px) {

.tipper {
	margin: 0 !important; 
	left: 10px;
	
}
#avatar_overlay form {
	top: 100px !important;
	height: 50% !important;
	width: calc(100% - 5% - 10px) !important;
	padding-bottom: 0 !important;
}


#avatar_overlay form #dropbox {
	height: calc(50% - 20px) !important;
}
}
.user-top .rank:before { content:'Rank: '; font-weight: bold; }

.online {
	position: absolute;
	top: 0;
	margin-top: 0;
	text-align: center;
	opacity: .9;
	font-weight: bold;
	left: 0;
	width: 15%;
	min-width: 100px;
	padding: 2px 0 2px 0;
	background: #0F0;
}

img:hover + #avatar_edit, #avatar_edit:hover {
	opacity: 1;
}

.signup-hero {
	margin-top: 30px;
	text-align: center;
	vertical-align: top;
	width: 45%;
	display: inline-block;
	float: left;
}

.loader .icon-spinner {
	font-size: 100pt;
	text-align: center;
	line-height: 800px;
	z-index:12312344;
	display: block;
}

.placeholder {
	display: inline-block;
	margin: 2.5%;
	height: 390px;
	vertical-align: middle;
	width: 55%;
	background: black;
}
#recaptcha_table {
	background: white;
	width: 90%;
	margin: 5% !important;
	display: block;
	text-align: center;
}

.hero .content {
	padding-top: 30px;
	width: 35%;
	display: inline-block;
	vertical-align: top;
}

.hero .content h1 {
	font-size: 20pt;
}

.placeholder:before {
	content:'<<Placeholder for welcome video>>';
	color: white;
	text-align: center;
	line-height: 390px;
	width: 640px;
	display: block;
}

.formerror {
	background: blue;
	padding: 5px;
	color: white;
	display: block;
	position: relative;
	bottom: -15px;
	width: 97%;
	left: 2.5px;
	z-index: 3;
}

.signup_error {
	width: 50%;
	margin-left: 25%;
	padding: 15px;
	background: #CC0000;
	color: white;
	text-align: center;
}

.success {
	background: rgba(0,0,0,.85);
	color: white;
	border-radius: 5px;
	padding: 15px;
	margin: 15px;
	display: none;
	text-align: center;
	width: 50%;
	margin-left: 25%;
}
.formerror:before {
	height: 25px;
	width: 25px;
	border-radius: 100px;
	content: '!';
	background: #000066;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.important {
	display: block;
	text-align: center;
	width: 100%;
	font-style: italic;
}


.signup-hero p {
	line-height: 30px;
	text-align: left;
	padding-left: 55px;
}

.signup-hero a:hover {
	text-decoration: underline;
}
.signup-hero ul {
	list-style-type: none;
}

.signup-hero ul li {
	display: inline-block;
	font-size: 25pt;
	font-weight: bold;
}

.signup-hero ul li:not(:first-child):before {
	height: 20px;
	vertical-align: middle;
	margin: 0 10px 0 10px;
	width: 20px;
	border-radius: 100px;
	display: inline-block;
	content: 'o';
	color: transparent;
	background: #000;
}

#container form#signup, #container form.forgot {
	width: 40%;
	float: right;
	margin-right: 10%;
	text-align: center;
}
form fieldset {
	text-align: left;
}
form fieldset:not(.active) { 
	display: none;
}

.field label {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	width: 90%;
}

#recaptchafield input[type="checkbox"] {
	position: relative;
	bottom: -2%;
	left: -5%;
	cursor: pointer;
}
#recaptchafield input[type="checkbox"] + label {
	display: inline;
	cursor: pointer;
}

.fielderror {
	display: none;
}

form fieldset {
	background: rgba(0,100,0,.8);  
}

.field input {
	width: 95%;
	margin: 0 !important;
}
.field select {
	width: 95%;
	height: 40px;
}

.field .tip {
	z-index: 100;
	background: rgba(0,0,0,.9);
	color: white;
	position: relative;
	top: -50px;
	right: -95%;
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
	margin: 0;
	width: 30%;
	display: inline-block;
	list-style-position: inside;
	vertical-align: middle;
	opacity: 0;
	user-select: none;
	transition: opacity 1s;
	min-height: 40px;
}
#container:hover .tip {
	display: inline-block;
}

.field .tip li {
	position: relative;
	top: -40px;
	margin-bottom: 10px;
}

.field .tip li:last-of-type {
	margin-bottom: -40px;
}

.field .tip:before {
	content: ' ';
	position: relative;
	width: 0;
	border: 20px solid transparent; /* arrow size */
	border-right-color: rgba(0,0,0,.9);  /* arrow color */
	left: -45px;
	top: 0;
	display: inline-block;
	z-index: 2;
}

.field {
	margin: 0;
	height: 100px;
}


.field input:focus + .tip, .field select:focus + .tip {
	opacity: 1; 
}






.available {
	position: absolute;
	margin-top: 23px;
	line-height: 30px;
	margin-left: 25%;
	width: 10%;
	height: 29px; 
	padding: 5px;
	border: 1px solid #FF0000;
	background: #FF0000;
	color: white;
	text-align: center;
	font-family: 'Prosto One';
	font-size: 12pt;
	text-transform: uppercase;
	display: block;
	min-width: 100px;
}

.available.active {
	background: #00FF00;
	border: 1px solid #00FF00;
}

.field .fielderror {
	display: block;
	color: #CC0000;
	position: relative;
	top: -75px;
	left: 50%;
}

#already {
	background: #999;
	color: white;
	display: block;
	width: -webkit-calc(100% - 5px);
	margin-left: 3px;
	padding: 15px 0 15px 0;
}

#already:hover { color: blue; }

fieldset h2 {
	font-family: 'Prosto One';
	letter-spacing: 2px;
	display: block;
	padding: 20px;
	text-align: center;
	margin-top: -5px;
	margin-left: -10px;
	margin-right: -10px;
	width; 100%;
}

#recaptchafield {
	text-align: center;
}
.available.active {
	background: #00EE00;
}


fieldset button {
	background: #006600;
	border: none;
	padding: 15px;
	text-align: center;
	float: right;
	color: white;
	position: relative;
	bottom: -10px;
	cursor: pointer;
	right: -10px;
	width: 200px;
	text-transform: uppercase;
	letter-spacing: 1px;
}


fieldset button:hover {
	background: #008800;
}

fieldset button:active {
	box-shadow: inset 5px 5px 0 #000;
}

form#forgot {
	position: relative;
	left: 20%;
	text-align: center;
	float: none;
	clear: both;
	padding: 2.5%;
	background: green;
	display: block;
	width: 50%;
}

form#forgot input {
	display: inline-block !important;
	width: 60%;
}

form#forgot input[type="submit"] {
	position: relative;
	width: 10% !important;
	height: 45px !important;
	padding: 5px !important;
	display: inline-block !important;
	margin: 0 !important;
}



#forgot-hero {
	clear: both;
	padding-top: 3%;
}

#forgot-hero section {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

#forgot-hero img {
	float: none;
	width: 30%;
	height: 200px;
	display: inline-block;
}



@media (max-width:480px) {
	.signup-hero {
		display: none;	
	}
	
	.field .tip {
		position: fixed;
		z-index: 9999999;
		top: 0;
		left: 0;
		width: 100%;
		display: none !important;
	}
	
	.field input:focus + .tip, .field select:focus + .tip {
		display: block !important;
	}
	
	.available {
		right: 7.5%;
	}
	
	
	#forgot {
		left: 0 !important;
		margin: 0 !important;
		right: 0 !important;
		margin-left: -5% !important;
		margin-right: -5% !important;
		padding-right: 5% !important;
		width: 110% !important;
		
	}
	
	#forgot input[type="submit"] {
		margin-top: 5!important;
	}
	
	#container form {
		width: 100% !important;
		float: none;
		margin-right: 0 !important;
	}
	
	#login {
		width: 100%;
		padding-bottom: 3px;
		border-bottom: 3px solid #060;
	}
}