@import url(http://fonts.googleapis.com/css?family=Alef);

html, body {
    margin: 0;
    padding: 0;
    font-family: Alef;
}

#container {
    width: 80%;
    margin-left: 8%;
    padding: 1%;
    border-radius: 25px;
    background: #CCC;
    border: 3px solid #060;
    margin-top: 10%;
    box-shadow: 0 0 5px #060;
}

#container h1 {
    text-align: center;
    padding: 0;
}

.blinkeydot {
    background: #060;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    
    margin: 0 20px 0 20px;
    box-shadow: 0 0 5px #060;
    border: 2px solid #000;
    display: inline-block;
}
.dots:not(:hover) .blinkeydot {
    -webkit-animation: blink 4s infinite;
}

.dots {
    text-align: center;
    margin-top: 5%;
}
@-webkit-keyframes blink {
    0% {
        height: 50px;
    }
    
    25% {
        height: 0;
        border-radius: 0;
    }
    
    50% {
        height: 50px;
        border-radius: 50px;
        background: #0F0;
        -webkit-transform: rotate(50deg);
    }
    
    75% {
        height: 0;
        border-radius: 0;
        -webkit-transform: rotate(100deg);
    }
    
    100% {
        height: 50px;
        background: #060;
        border-radius: 50px;
        -webkit-transform: rotate(360deg);
    }
}